* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

body {
    background-image: url('https://uhdwallpapers.org/uploads/cache/3018519849/skyscraper-from-toronto_600x338-mm-90.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

#me {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
}

aside {
    float: left;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    text-align: center;
}

aside li {
    padding-top: 50px;
}

aside a {
    text-decoration: none;
}

.main {
    background: rgba(0, 0, 0, 0.5);
    margin: 50px 50px 50px 300px;
    padding: 20px;
    border-radius: 10px;
}

#first {
    height: 600px;
    width: 450px;
}

.main img {
    height: 400px;
    width: 350px;
    border-radius: 10px;
}

.main img:hover {
    border: 2px solid black;
    height: 600px;
    width: 450px;
    transition: 0.5s;
}

form {
    text-align: center;
}

input, button {
    color: black;
    padding: 0px 5px;
}

footer {
    background: black;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

span {
    color: red;
}

@media screen and (max-width: 900px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    aside {
        float: none;
        margin: 50px;
        padding: 20px;
        height: auto;
        border-radius: 10px;
        width: 400px;
    }
    aside ul {
        list-style-type: none;
    }
    .main {
        margin: 50px;
    }
}
