* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

#me {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
}

aside {
    float: left;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    text-align: center;
}

aside li {
    padding-top: 50px;
}

aside a {
    text-decoration: none;
}

.main {
    background: rgba(0, 0, 0, 0.5);
    margin: 50px 50px 50px 300px;
    padding: 20px;
    border-radius: 10px;
}

#first {
    height: 600px;
    width: 450px;
}

.main img {
    height: 400px;
    width: 350px;
    border-radius: 10px;
}

.main img:hover {
    border: 2px solid black;
    height: 600px;
    width: 450px;
    transition: 0.5s;
}

form {
    text-align: center;
}

input, button {
    color: black;
    padding: 0px 5px;
}

footer {
    background: black;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

span {
    color: red;
}